<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Reservation Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="code">date</label>
            <input type="text" pInputText id="code" [(ngModel)]="selected" disabled />
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
    </ng-template>
</p-dialog>
